# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Environment variable files
*.env
*.env.*

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Pyre type checker
.pyre/

# Cython debug symbols
cython_debug/

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pytest
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# PyCharm
.idea/
*.iml

# Test output
test-results/

# macOS
.DS_Store

# Logs
*.log

# SQLite databases
*.sqlite3

# Local configuration
*.local
